.container{
display: flex;
width: 90%;
background-color: whitesmoke;
margin-left: 8%;
margin-right: 8%;
height: 600px;
gap: 30px;
align-items: center;
flex-direction: row;
}
.container div {
    width: 30%;
    flex:1;
    background-color:fuchsia ;
    border: 2px solid black;
    border-radius:10% ;
    height: 200px;
    padding: 20px;
    box-shadow: 0 20px;
}